

<!DOCTYPE html>
<html lang="es">

<head>
    <title>FortaMuni</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aqui conseguiras los asesores que contemplaran todas tus necesidades">
</head>

<body>
    
    <slot />
</body>

</html>